@tailwind base;
@tailwind components;
@tailwind utilities;

.centerView {
    height: calc(100% - 7rem - 3.5rem);
}

.hideScrollbar::-webkit-scrollbar {
    display: none;
}

.hideScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}